body 
table#wrapper { width: 85%; min-width: 1150px; background: #FFF; border-radius: 2px; }

td#headtd { text-align: center; vertical-align: middle; font-size: 50px; font-weight: normal; padding-bottom: 10px; letter-spacing: -3px; }
td#headtd img.grad { border: 0px; position: absolute; width: 350px; height: 70px; }
td#headtd #headdm { font-weight: normal; color: #9B0000; }

td#navtd { text-align: left; vertical-align: top; font-size: 20px; min-width: 1500px; width: 1500px; padding: 0px 30px; }
td#navtd .navitem a { color: #000; }
td#navtd .navitem a.current { color: #9B0000; font-weight: bold; text-decoration: none; }
td#navtd .navitem img.grad { border: 0px; position: absolute; padding-top: 5px; width: 200px; height: 30px; }

td#bodytd { text-align: left; vertical-align: top; padding: 30px; }

td#foottd { text-align: center; font-size: smaller; }

acronym { border-bottom: 1px dotted; cursor: default; }
acronym img.lower { position: relative; top: 2px; }

h1, h2, h3 { margin: 0px; }

.canBeLong { word-wrap: break-word; overflow: hidden; max-height: 50px; }

/***********************************************************************************************/

table#restable { border-collapse: collapse; border: 1px solid #C0C0C0; width: 100%; }
table#restable tr { height: 40px; }
table#restable tr#reshead { background: #C0C0C0; height: 20px; min-width: 1500px; }
table#restable tr.odd { background: #F0F0F0; min-width: 1500px; }
table#restable th { white-space: nowrap; }
table#restable td { text-align: center; vertical-align: middle; }

/***********************************************************************************************/

table#regtable td { text-align: left; padding: 2px; }
table#regtable td input { width: 20px; }
table#regtable td select { width: 25px; }
table#regtable * strong { color: #9B0000; }
table#regtable td.colspan { text-align: center; }

/***********************************************************************************************/

table#flagtable td input[type=text] { width: 250px; border: 2px solid #FFF; background: #FFF; font-size: 15px; }
table#flagtable td input[type=submit] { width: 100px; border: 2px solid #FFF; background: transparent; color: #FFF; font-size: 15px; }
table#flagtable td select { width: 305px; }
select#taskSelect option { background: #FFF; }
select#taskSelect option.ok { background: #C5E6B5; }
table#flagtable * strong { color: #9B0000; }
table#flagtable td.colspan { text-align: center; }

/***********************************************************************************************/

li { margin-bottom: 10px; }

/***********************************************************************************************/
